<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect to HTTPS if behind a proxy that sets X-Forwarded-Proto.
    RewriteCond %{HTTP:X-Forwarded-Proto} !https
    RewriteCond %{HTTPS} off
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

    # Send all requests to the front controller.
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]
</IfModule>
