.pagination-nav {
    font-size: var(--body-compact-01-font-size, .875rem);
    font-weight: var(--body-compact-01-font-weight, 400);
    line-height: var(--body-compact-01-line-height, 1.28572);
    letter-spacing: var(--body-compact-01-letter-spacing, .16px);
    --layout-size-height-local: clamp(max(var(--layout-size-height-min), var(--layout-size-height-sm)), var(--layout-size-height, var(--layout-size-height-lg)), min(var(--layout-size-height-max), var(--layout-size-height-lg)));
    --layout-density-padding-inline-local: clamp(var(--layout-density-padding-inline-min), var(--layout-density-padding-inline, var(--layout-density-padding-inline-normal)), var(--layout-density-padding-inline-max));
    line-height: 0
}

.pagination-nav--sm {
    --layout-size-height-local: 2rem
}

.pagination-nav--md {
    --layout-size-height-local: 2.5rem
}

.pagination-nav--lg {
    --layout-size-height-local: 3rem
}

.pagination-nav__list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding-inline-start: 0
}

.pagination-nav__list-item {
    padding: 0
}

.pagination-nav__list-item:first-child {
    padding-inline-start:0}

.pagination-nav__list-item:last-child {
    padding-inline-end:0}

.pagination-nav__gap {
    display: inline-block;
    padding-inline: .25rem;
    color: var(--text-secondary, #525252);
    line-height: var(--body-compact-01-line-height, 1.28572);
    font-size: var(--body-compact-01-font-size, .875rem)
}

.pagination-nav__edge-btn {
    block-size: var(--layout-size-height-local);
    inline-size: var(--layout-size-height-local);
    min-block-size: var(--layout-size-height-local);
    min-inline-size: var(--layout-size-height-local)
}

.pagination-nav__page {
    font-size: var(--body-compact-01-font-size, .875rem);
    font-weight: var(--body-compact-01-font-weight, 400);
    line-height: var(--body-compact-01-line-height, 1.28572);
    letter-spacing: var(--body-compact-01-letter-spacing, .16px);
    display: inline-block;
    appearance: none;
    background: none;
    cursor: pointer;
    text-align: start;
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline
}

.pagination-nav__page *,.pagination-nav__page *:before,.pagination-nav__page *:after {
    box-sizing: inherit
}

.pagination-nav__page::-moz-focus-inner {
    border: 0
}

.pagination-nav__page {
    position: relative;
    display: block;
    padding: calc((var(--layout-size-height-local) - .875rem) / 2) .25rem;
    border-radius: 0;
    color: var(--text-primary, #161616);
    font-weight: 400;
    line-height: 1;
    min-inline-size: var(--layout-size-height-local);
    outline: 0;
    text-align: center;
    text-decoration: none;
    transition: background-color .11s cubic-bezier(.2,0,.38,.9),color .11s cubic-bezier(.2,0,.38,.9);
    -webkit-user-select: none;
    user-select: none
}

.pagination-nav__page:hover {
    background-color: var(--background-hover, rgba(141, 141, 141, .12));
    color: var(--text-primary, #161616)
}

.pagination-nav__page:focus {
    outline: 2px solid var(--focus, #0f62fe);
    outline-offset: -2px
}

@media screen and (prefers-contrast) {
    .pagination-nav__page:focus {
        outline-style: dotted
    }
}

.pagination-nav__page:disabled,.pagination-nav__page.pagination-nav__page--disabled {
    background: none;
    color: var(--text-secondary, #525252);
    opacity: .5;
    outline: none;
    pointer-events: none
}

.pagination-nav__page:not(.pagination-nav__page--select):after {
    position: absolute;
    display: block;
    background-color: var(--border-interactive, #0f62fe);
    block-size: .25rem;
    content: "";
    inline-size: 0;
    inset-block-end: 0;
    inset-inline-start: 50%;
    opacity: 0;
    transition: width .11s cubic-bezier(.2,0,.38,.9)
}

@media screen and (prefers-reduced-motion: reduce) {
    .pagination-nav__page:not(.pagination-nav__page--select):after {
        transition: none
    }
}

.pagination-nav__page--active+.pagination-nav__page:not(.pagination-nav__page--select):after,.pagination-nav__page.pagination-nav__page--active:not(.pagination-nav__page--select):after {
    inline-size: 1rem;
    inset-inline-start: calc(50% - .5rem);
    opacity: 1
}

.pagination-nav__page.pagination-nav__page--active {
    background-color: initial;
    color: var(--text-primary, #161616);
    font-weight: 600
}

.pagination-nav__select {
    position: relative
}

.pagination-nav__page--select {
    appearance: none;
    max-block-size: var(--layout-size-height-local);
    text-indent: calc(50% - 4.5px)
}

@-moz-document url-prefix() {
    .pagination-nav__page--select {
        text-indent: 0
    }
}

.pagination-nav__select-icon-wrapper {
    position: absolute;
    block-size: 100%;
    inline-size: 100%;
    inset-block-start: 0;
    pointer-events: none
}

.pagination-nav__select-icon-wrapper:not(.pagination-nav__page--direction):after {
    position: absolute;
    display: block;
    background-color: var(--border-interactive, #0f62fe);
    block-size: .25rem;
    content: "";
    inline-size: 0;
    inset-block-end: 0;
    inset-inline-start: 50%;
    opacity: 0;
    transition: width .11s cubic-bezier(.2,0,.38,.9)
}

@media screen and (prefers-reduced-motion: reduce) {
    .pagination-nav__select-icon-wrapper:not(.pagination-nav__page--direction):after {
        transition: none
    }
}

.pagination-nav__page--active+.pagination-nav__select-icon-wrapper:after,.pagination-nav__select-icon-wrapper.pagination-nav__page--active:after {
    inline-size: 1rem;
    inset-inline-start: calc(50% - .5rem);
    opacity: 1
}

.pagination-nav__page--active+.pagination-nav__select-icon-wrapper .pagination-nav__select-icon {
    display: none
}

.pagination-nav__select-icon {
    position: absolute;
    inset-block-start: calc(50% - .25rem);
    inset-inline-start: calc(50% - .5rem);
    pointer-events: none
}

.pagination-nav__accessibility-label {
    position: absolute;
    overflow: hidden;
    padding: 0;
    border: 0;
    margin: -1px;
    block-size: 1px;
    clip: rect(0,0,0,0);
    inline-size: 1px;
    visibility: inherit;
    white-space: nowrap
}

.pagination-nav__status {
    position: absolute;
    overflow: hidden;
    padding: 0;
    border: 0;
    margin: -1px;
    block-size: 1px;
    clip: rect(0,0,0,0);
    inline-size: 1px;
    white-space: nowrap
}

[dir=rtl] .pagination-nav__list-item svg {
    transform: rotate(.5turn)
}
