.progress-indicator {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline
}

.progress-indicator *,.progress-indicator *:before,.progress-indicator *:after {
    box-sizing: inherit
}

.progress-indicator {
    display: flex;
    list-style: none
}

.progress-indicator-step {
    position: relative;
    display: inline-flex;
    overflow: visible;
    flex-direction: row;
    inline-size: 8rem;
    min-inline-size: 7rem
}

.progress-indicator-step .cds--tooltip__label {
    display: block
}

.progress-indicator--space-equal .progress-indicator-step {
    flex-grow: 1;
    min-inline-size: 8rem
}

.progress-indicator-line {
    position: absolute;
    border: 1px inset transparent;
    block-size: 2px;
    inline-size: 8rem;
    inset-inline-start: 0
}

.progress-indicator--space-equal .progress-indicator-line {
    inline-size: 100%;
    min-inline-size: 8rem
}

.progress-indicator-step svg {
    position: relative;
    z-index: 1;
    flex-shrink: 0;
    border-radius: 50%;
    block-size: 1rem;
    fill: var(--interactive, #0f62fe);
    inline-size: 1rem;
    margin-block-start:.625rem;
    margin-inline-end:.5rem}

.progress-indicator--space-equal .progress-indicator-text {
    overflow: hidden;
    padding: .125rem;
    margin: -.125rem
}

.progress-indicator-label {
    font-size: var(--body-compact-01-font-size, .875rem);
    font-weight: var(--body-compact-01-font-weight, 400);
    line-height: var(--body-compact-01-line-height, 1.28572);
    letter-spacing: var(--body-compact-01-letter-spacing, .16px);
    display: block;
    overflow: hidden;
    margin: .5rem 0 0;
    color: var(--text-primary, #161616);
    line-height: 1.45;
    max-inline-size: 5.5rem;
    text-overflow: ellipsis;
    transition: box-shadow .11s cubic-bezier(.2,0,.38,.9),color .11s cubic-bezier(.2,0,.38,.9);
    white-space: nowrap
}

.progress-indicator-label:before {
    display: block;
    content: ""
}

.progress-indicator-label:hover {
    box-shadow: 0 .0625rem var(--link-primary-hover, #0043ce);
    color: var(--link-primary-hover, #0043ce);
    cursor: pointer
}

.progress-indicator--space-equal .progress-indicator-label {
    margin-inline-end:.75rem;max-inline-size: 100%
}

.progress-indicator-step-button:focus {
    outline: none
}

.progress-indicator-step-button:focus-visible .progress-indicator-label {
    color: var(--focus, #0f62fe);
    outline: .0625rem solid var(--focus, #0f62fe)
}

.progress-indicator-step-button:not(.progress-indicator-step-button--unclickable) .progress-indicator-label:active {
    box-shadow: 0 .0625rem 0 0 var(--text-primary, #161616);
    color: var(--text-primary, #161616)
}

.progress-indicator-label-overflow:hover~.cds--tooltip,.progress-indicator-label-overflow:focus~.cds--tooltip {
    visibility: inherit
}

.progress-indicator-step .cds--tooltip .cds--tooltip__caret {
    margin-inline-start:.625rem}

.cds--tooltip__text {
    padding: 0;
    margin: 0;
    font-weight: 400
}

.progress-indicator-step .cds--tooltip {
    font-size: var(--body-01-font-size, .875rem);
    font-weight: var(--body-01-font-weight, 400);
    line-height: var(--body-01-line-height, 1.42857);
    letter-spacing: var(--body-01-letter-spacing, .16px);
    display: block;
    padding: .5rem 1rem;
    color: var(--text-inverse, #ffffff);
    inline-size: 7.8125rem;
    margin-block-start:2.5rem;margin-inline-start:1.375rem;min-block-size: 1.5rem;
    min-inline-size: 7.1875rem;
    visibility: hidden
}

.progress-indicator-step .cds--tooltip_multi {
    font-size: var(--body-01-font-size, .875rem);
    font-weight: var(--body-01-font-weight, 400);
    line-height: var(--body-01-line-height, 1.42857);
    letter-spacing: var(--body-01-letter-spacing, .16px);
    block-size: auto;
    color: var(--text-inverse, #ffffff);
    inline-size: 9.375rem
}

.progress-indicator-optional {
    font-size: var(--label-01-font-size, .75rem);
    font-weight: var(--label-01-font-weight, 400);
    line-height: var(--label-01-line-height, 1.33333);
    letter-spacing: var(--label-01-letter-spacing, .32px);
    position: absolute;
    display: block;
    color: var(--text-secondary, #525252);
    inset-inline-start: 0;
    margin-block-start:1.75rem;margin-inline-start:1.5rem;text-align: start
}

.progress-indicator-step--current .progress-indicator-line {
    background-color: var(--interactive, #0f62fe)
}

.progress-indicator-step--incomplete svg {
    fill: var(--icon-primary, #161616)
}

.progress-indicator-step--incomplete .progress-indicator-line {
    background-color: var(--border-subtle)
}

.progress-indicator-step--complete .progress-indicator-line {
    background-color: var(--interactive, #0f62fe)
}

.progress-indicator-step-button {
    display: inline-block;
    appearance: none;
    background: none;
    cursor: pointer;
    text-align: start;
    inline-size: 100%;
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline
}

.progress-indicator-step-button *,.progress-indicator-step-button *:before,.progress-indicator-step-button *:after {
    box-sizing: inherit
}

.progress-indicator-step-button::-moz-focus-inner {
    border: 0
}

.progress-indicator-step-button {
    display: flex;
    text-align: start
}

.progress-indicator-step-button--unclickable {
    cursor: default;
    outline: none
}

.progress-indicator-step-button--unclickable .progress-indicator-label:hover {
    box-shadow: none;
    color: var(--text-primary, #161616);
    cursor: default
}

.progress-indicator-step-button--unclickable .cds--tooltip__label:hover {
    box-shadow: 0 .0625rem var(--link-primary, #0f62fe);
    color: var(--link-primary, #0f62fe);
    cursor: pointer
}

.progress-indicator-step--disabled {
    cursor: not-allowed;
    pointer-events: none
}

.progress-indicator-step--disabled svg {
    cursor: not-allowed;
    fill: var(--icon-disabled, rgba(22, 22, 22, .25))
}

.progress-indicator-step--disabled .progress-indicator-label,.progress-indicator-step--disabled .progress-indicator-label:hover {
    box-shadow: none;
    color: var(--text-disabled, rgba(22, 22, 22, .25));
    cursor: not-allowed
}

.progress-indicator-step--disabled .progress-indicator-line {
    cursor: not-allowed
}

.progress-indicator-step--disabled .progress-indicator-label-overflow:hover~.cds--tooltip--definition .cds--tooltip--definition__bottom {
    display: none
}

.progress-indicator__warning>* {
    fill: var(--support-error, #da1e28)
}

.progress-indicator.cds--skeleton .progress-indicator-label {
    position: relative;
    padding: 0;
    border: none;
    background: var(--skeleton-background, #e8e8e8);
    box-shadow: none;
    pointer-events: none
}

.progress-indicator.cds--skeleton .progress-indicator-label:hover,.progress-indicator.cds--skeleton .progress-indicator-label:focus,.progress-indicator.cds--skeleton .progress-indicator-label:active {
    border: none;
    cursor: default;
    outline: none
}

.progress-indicator.cds--skeleton .progress-indicator-label:before {
    position: absolute;
    animation: 3s ease-in-out cds--skeleton infinite;
    background: var(--skeleton-element, #c6c6c6);
    block-size: 100%;
    content: "";
    inline-size: 100%;
    inset-inline-start: 0;
    will-change: transform-origin,transform,opacity
}

@media(prefers-reduced-motion:reduce) {
    .progress-indicator.cds--skeleton .progress-indicator-label:before {
        animation: none
    }
}

@media screen and (-ms-high-contrast:active),(forced-colors:active) {
    .progress-indicator.cds--skeleton .progress-indicator-label {
        background: CanvasText
    }

    .progress-indicator.cds--skeleton .progress-indicator-label:before {
        background: Canvas;
        forced-color-adjust: none
    }
}

.progress-indicator.cds--skeleton .progress-indicator-label {
    block-size: .875rem;
    inline-size: 2.5rem;
    margin-block-start:.625rem}

.progress-indicator.progress-indicator--vertical.cds--skeleton .progress-indicator-label {
    margin-block-start:.0625rem}

.progress-indicator--vertical,.progress-indicator-text {
    display: flex;
    flex-direction: column
}

.progress-indicator--vertical .progress-indicator-step,.progress-indicator--vertical .progress-indicator-step-button {
    align-content: flex-start;
    inline-size: initial;
    min-block-size: 3.625rem;
    min-inline-size: initial
}

.progress-indicator--vertical .progress-indicator-step svg,.progress-indicator--vertical .progress-indicator-step-button svg {
    display: inline-block;
    margin: .0625rem .5rem 0
}

.progress-indicator--vertical .progress-indicator-label {
    display: inline-block;
    margin: 0;
    inline-size: initial;
    max-inline-size: 10rem;
    vertical-align: top;
    white-space: initial
}

.progress-indicator--vertical .progress-indicator-step .cds--tooltip {
    margin-block-start:.5rem}

.progress-indicator--vertical .progress-indicator-optional {
    position: static;
    margin: 0 0 auto;
    inline-size: 100%
}

.progress-indicator--vertical .progress-indicator-line {
    position: absolute;
    block-size: 100%;
    inline-size: 1px;
    inset-block-start: 0;
    inset-inline-start: 0
}
