//
// Typography
// --------------------------------------------------

$font-family-serif: "Source Serif 4", "Times New Roman", Times, Baskerville, Georgia, serif !default;

::selection {
  background-color: rgb(from var(--background-brand) r g b / 25%);
  color: var(--link-primary);
}

.type-heading-01,
.type-heading-02,
.type-heading-03,
.type-heading-04,
.type-heading-05,
.type-heading-06,
.type-heading-07,
.type-fluid-heading-03,
.type-fluid-heading-04,
.type-fluid-heading-05,
.type-fluid-heading-06 {
  font-family: $headings-font-family;
}

.type-code-01,
.type-code-02 {
  font-family: $font-family-monospace;
}

.type-label-01,
.type-label-02,
.type-helper-text-01,
.type-helper-text-02,
.type-legal-01,
.type-legal-02,
.type-body-compact-01,
.type-body-compact-02,
.type-body-01,
.type-body-02,
.type-fluid-paragraph-01 {
  font-family: $font-family-sans-serif;
}

.type-code-01 {
  font-size: var(--code-01-font-size);
  line-height: var(--code-01-line-height);
  font-weight: var(--code-01-font-weight);
  letter-spacing: var(--code-01-letter-spacing);
}

.type-code-02 {
  font-size: var(--code-02-font-size);
  line-height: var(--code-02-line-height);
  font-weight: var(--code-02-font-weight);
  letter-spacing: var(--code-02-letter-spacing);
}

.type-label-01 {
  font-size: var(--label-01-font-size);
  line-height: var(--label-01-line-height);
  font-weight: var(--label-01-font-weight);
  letter-spacing: var(--label-01-letter-spacing);
}

.type-label-02 {
  font-size: var(--label-02-font-size);
  line-height: var(--label-02-line-height);
  font-weight: var(--label-02-font-weight);
  letter-spacing: var(--label-02-letter-spacing);
}

.type-helper-text-01 {
  font-size: var(--helper-text-01-font-size);
  line-height: var(--helper-text-01-line-height);
  font-weight: var(--helper-text-01-font-weight);
  letter-spacing: var(--helper-text-01-letter-spacing);
}

.type-helper-text-02 {
  font-size: var(--helper-text-02-font-size);
  line-height: var(--helper-text-02-line-height);
  font-weight: var(--helper-text-02-font-weight);
  letter-spacing: var(--helper-text-02-letter-spacing);
}

.type-legal-01 {
  font-size: var(--legal-01-font-size);
  line-height: var(--legal-01-line-height);
  font-weight: var(--legal-01-font-weight);
  letter-spacing: var(--legal-01-letter-spacing);
}

.type-legal-02 {
  font-size: var(--legal-02-font-size);
  line-height: var(--legal-02-line-height);
  font-weight: var(--legal-02-font-weight);
  letter-spacing: var(--legal-02-letter-spacing);
}

.type-body-compact-01 {
  font-size: var(--body-compact-01-font-size);
  line-height: var(--body-compact-01-line-height);
  font-weight: var(--body-compact-01-font-weight);
  letter-spacing: var(--body-compact-01-letter-spacing);
}

.type-body-compact-02 {
  font-size: var(--body-compact-02-font-size);
  line-height: var(--body-compact-02-line-height);
  font-weight: var(--body-compact-02-font-weight);
  letter-spacing: var(--body-compact-02-letter-spacing);
}

.type-body-01 {
  font-size: var(--body-01-font-size);
  line-height: var(--body-01-line-height);
  font-weight: var(--body-01-font-weight);
  letter-spacing: var(--body-01-letter-spacing);
}

.type-body-02 {
  font-size: var(--body-02-font-size);
  line-height: var(--body-02-line-height);
  font-weight: var(--body-02-font-weight);
  letter-spacing: var(--body-02-letter-spacing);
}

.type-heading-compact-01 {
  font-size: var(--heading-compact-01-font-size);
  line-height: var(--heading-compact-01-line-height);
  font-weight: var(--heading-compact-01-font-weight);
  letter-spacing: var(--heading-compact-01-letter-spacing);
}

.type-heading-compact-02 {
  font-size: var(--heading-compact-02-font-size);
  line-height: var(--heading-compact-02-line-height);
  font-weight: var(--heading-compact-02-font-weight);
  letter-spacing: var(--heading-compact-02-letter-spacing);
}

.type-heading-01 {
  font-size: var(--heading-01-font-size);
  line-height: var(--heading-01-line-height);
  font-weight: var(--heading-01-font-weight);
  letter-spacing: var(--heading-01-letter-spacing);
}

.type-heading-02 {
  font-size: var(--heading-02-font-size);
  line-height: var(--heading-02-line-height);
  font-weight: var(--heading-02-font-weight);
  letter-spacing: var(--heading-02-letter-spacing);
}

.type-heading-03 {
  font-size: var(--heading-03-font-size);
  line-height: var(--heading-03-line-height);
  font-weight: var(--heading-03-font-weight);
  letter-spacing: var(--heading-03-letter-spacing);
}

.type-heading-04 {
  font-size: var(--heading-04-font-size);
  line-height: var(--heading-04-line-height);
  font-weight: var(--heading-04-font-weight);
  letter-spacing: var(--heading-04-letter-spacing);
}

.type-heading-05 {
  font-size: var(--heading-05-font-size);
  line-height: var(--heading-05-line-height);
  font-weight: var(--heading-05-font-weight);
  letter-spacing: var(--heading-05-letter-spacing);
}

.type-heading-06 {
  font-size: var(--heading-06-font-size);
  line-height: var(--heading-06-line-height);
  font-weight: var(--heading-06-font-weight);
  letter-spacing: var(--heading-06-letter-spacing);
}

.type-heading-07 {
  font-size: var(--heading-07-font-size);
  line-height: var(--heading-07-line-height);
  font-weight: var(--heading-07-font-weight);
  letter-spacing: var(--heading-07-letter-spacing);
}

.type-fluid-heading-03 {
  font-size: var(--fluid-heading-03-font-size);
  line-height: var(--fluid-heading-03-line-height);
  font-weight: var(--fluid-heading-03-font-weight);
  letter-spacing: var(--fluid-heading-03-letter-spacing);
}

.type-fluid-heading-04 {
  font-size: var(--fluid-heading-04-font-size);
  line-height: var(--fluid-heading-04-line-height);
  font-weight: var(--fluid-heading-04-font-weight);
  letter-spacing: var(--fluid-heading-04-letter-spacing);
}

.type-fluid-heading-05 {
  font-size: var(--fluid-heading-05-font-size);
  line-height: var(--fluid-heading-05-line-height);
  font-weight: var(--fluid-heading-05-font-weight);
  letter-spacing: var(--fluid-heading-05-letter-spacing);
}

.type-fluid-heading-06 {
  font-size: var(--fluid-heading-06-font-size);
  line-height: var(--fluid-heading-06-line-height);
  font-weight: var(--fluid-heading-06-font-weight);
  letter-spacing: var(--fluid-heading-06-letter-spacing);
}

.type-fluid-paragraph-01 {
  font-size: var(--fluid-paragraph-01-font-size);
  line-height: var(--fluid-paragraph-01-line-height);
  font-weight: var(--fluid-paragraph-01-font-weight);
  letter-spacing: var(--fluid-paragraph-01-letter-spacing);
}

.type-fluid-quotation-01 {
  font-family: $font-family-serif;
  font-size: var(--fluid-quotation-01-font-size);
  line-height: var(--fluid-quotation-01-line-height);
  font-weight: var(--fluid-quotation-01-font-weight);
  letter-spacing: var(--fluid-quotation-01-letter-spacing);
}

.type-fluid-quotation-02 {
  font-family: $font-family-serif;
  font-size: var(--fluid-quotation-02-font-size);
  line-height: var(--fluid-quotation-02-line-height);
  font-weight: var(--fluid-quotation-02-font-weight);
  letter-spacing: var(--fluid-quotation-02-letter-spacing);
}

.type-fluid-display-01 {
  font-size: var(--fluid-display-01-font-size);
  line-height: var(--fluid-display-01-line-height);
  font-weight: var(--fluid-display-01-font-weight);
  letter-spacing: var(--fluid-display-01-letter-spacing);
}

.type-fluid-display-02 {
  font-size: var(--fluid-display-02-font-size);
  line-height: var(--fluid-display-02-line-height);
  font-weight: var(--fluid-display-02-font-weight);
  letter-spacing: var(--fluid-display-02-letter-spacing);
}

.type-fluid-display-03 {
  font-size: var(--fluid-display-03-font-size);
  line-height: var(--fluid-display-03-line-height);
  font-weight: var(--fluid-display-03-font-weight);
  letter-spacing: var(--fluid-display-03-letter-spacing);
}

.type-fluid-display-04 {
  font-size: var(--fluid-display-04-font-size);
  line-height: var(--fluid-display-04-line-height);
  font-weight: var(--fluid-display-04-font-weight);
  letter-spacing: var(--fluid-display-04-letter-spacing);
}

// Contextual colors
// -------------------------
.text-primary { color: var(--text-primary); }
.text-secondary { color: var(--text-secondary); }
.text-placeholder { color: var(--text-placeholder); }
.text-on-color { color: var(--text-on-color); }
.text-on-color-disabled { color: var(--text-on-color-disabled); }
.text-helper { color: var(--text-helper); }
.text-error { color: var(--text-error); }
.text-inverse { color: var(--text-inverse); }
.text-disabled { color: var(--text-disabled); }

// Blockquote
// -------------------------
blockquote {
  padding-left: 40px;
  border-width: 0px;

  > p {
    position: relative;
    font-style: italic;
    font-size: 18px !important;
  }

  > p:before {
    position: absolute;
    top: -1px;
    margin-left: -25px;
    font-family: "remixicon";
    font-size: 18px;
    content: "\EC51";
    color: $gray-400;
  }

  > p:after {
    position: absolute;
    bottom: -1px;
    margin-left: 5px;
    font-family: "remixicon";
    font-size: 18px;
    content: "\EC52";
    color: $gray-400;
  }
}

.blockquote-reverse {
  padding-left: 20px;
  padding-right: 40px;
  border-width: 0px;
}

.help-block {
  font-size: 12px;
  color: var(--text-helper);
}

code {
  padding: var(--spacing-01) var(--spacing-03);
  overflow: hidden;
  border-radius: clamp(4px, var(--border-radius-sm), 6px);
  background-color: var(--layer);
}

pre {
  min-height: 40px;
  max-height: 100px;
  overflow: hidden;
}

kbd {
  min-width: 20px;
  text-align: center;
  box-shadow: inset 0 -1px 0 #afb8c133;
  border: 1px solid #afb8c133;
  border-radius: 5px;
}

.marketplace-detail__description {
  h3 {margin-top: var(--spacing-09); margin-bottom: var(--spacing-06);}
  h4 {margin-top: var(--spacing-08); margin-bottom: var(--spacing-05);}
  h5 {margin-top: var(--spacing-07); margin-bottom: var(--spacing-04);}
  h6 {margin-top: var(--spacing-06); margin-bottom: var(--spacing-03);}
  ul {margin-bottom: var(--spacing-05);}
  ol {margin-bottom: var(--spacing-05);}
  li {margin-bottom: var(--spacing-02);}
  blockquote {margin-bottom: var(--spacing-05);}
  code {margin-bottom: var(--spacing-05);}
  pre {margin-bottom: var(--spacing-05);}
}
