// Base light theme

$primary-color: #4e5e9e;
$layer-01: #f4f4f4;
$border-subtle-01: #e0e0e0;
$border-subtle-02: #c6c6c6;
$border-tile-02: #a8a8a8;
$background: #ffffff;
$background-inverse: #393939;
$text-primary: #161616;
$text-secondary: #525252;
$support-error: #da1e28;
$support-success: #24a148;
$support-warning: #f1c21b;
$support-info: #0043ce;
$toggle-off: #8d8d8d;
$border-radius: 0px;
$border-radius-sm: min(max($border-radius, 0px), 6px);
$border-radius-lg: min(max(2.6 * $border-radius, 0px), 21px);
$focus: $primary-color;
$transition-all-productive: all 150ms cubic-bezier(0.2, 0, 0.38, 0.9);

// Typography defaults and runtime theme tokens.
:root {
  --primary-color: #4e5e9e;
  --border-radius: 0px;

  --primary-20: #{lighten($primary-color, 45%)};
  --primary-30: #{lighten($primary-color, 30%)};
  --primary-40: #{lighten($primary-color, 20%)};
  --primary-50: #{lighten($primary-color, 10%)};
  --primary-60: #{$primary-color};
  --primary-70: #{darken($primary-color, 10%)};
  --primary-80: #{darken($primary-color, 20%)};
  --primary-90: #{darken($primary-color, 30%)};
  --primary-100: #{darken($primary-color, 40%)};

  --background: #ffffff;
  --background-hover: #f1f1f1;
  --background-active: #8d8d8d80;
  --background-selected: #8d8d8d33;
  --background-selected-hover: #8d8d8d52;
  --background-inverse: #393939;
  --background-inverse-hover: #4c4c4c;
  --background-brand: var(--primary-60);

  --layer-01: #f4f4f4;
  --layer-02: #ffffff;
  --layer-hover-01: #e8e8e8;
  --layer-hover-02: #e8e8e8;
  --layer-active-01: #c6c6c6;
  --layer-active-02: #c6c6c6;
  --layer-selected-01: #e0e0e0;
  --layer-selected-02: #e0e0e0;
  --layer-selected-hover-01: #cacaca;
  --layer-selected-hover-02: #cacaca;
  --layer-selected-inverse: #161616;
  --layer-selected-disabled: #8d8d8d;
  --layer-translucent: hsla(0, 0%, 100%, 0.7);
  --layer-translucent-inverse: rgba(0, 0, 0, 0.8);

  --layer-accent-01: #e0e0e0;
  --layer-accent-hover-01: #d1d1d1;
  --layer-accent-active-01: #a8a8a8;
  --layer-accent-02: #e0e0e0;
  --layer-accent-hover-02: #d1d1d1;
  --layer-accent-active-02: #a8a8a8;

  --field-01: #f4f4f4;
  --field-02: #fff;
  --field-hover-01: #e8e8e8;
  --field-hover-02: #e8e8e8;

  --border-interactive: var(--primary-60);
  --border-subtle-01: #e0e0e0;
  --border-subtle-02: #c6c6c6;
  --border-subtle-selected-01: #c6c6c6;
  --border-subtle-selected-02: #c6c6c6;
  --border-strong-01: #8d8d8d;
  --border-strong-02: #8d8d8d;
  --border-tile-01: #c6c6c6;
  --border-tile-02: #a8a8a8;
  --border-inverse: #161616;
  --border-disabled: #c6c6c6;

  --text-primary: #161616;
  --text-secondary: #525252;
  --text-placeholder: #a8a8a8;
  --text-on-color: #ffffff;
  --text-on-color-disabled: #8d8d8d;
  --text-helper: #6f6f6f;
  --text-error: #da1e28;
  --text-inverse: #ffffff;
  --text-disabled: #16161640;

  --link-primary: var(--primary-60);
  --link-primary-hover: var(--primary-70);
  --link-secondary: var(--primary-70);
  --link-inverse: var(--primary-40);
  --link-visited: #8a3ffc;

  --icon-primary: #161616;
  --icon-secondary: #525252;
  --icon-on-color: #ffffff;
  --icon-on-color-disabled: #8d8d8d;
  --icon-interactive: var(--primary-60);
  --icon-inverse: #ffffff;
  --icon-disabled: #16161640;

  --button-primary: var(--primary-60);
  --button-primary-hover: var(--primary-70);
  --button-primary-active: var(--primary-80);
  --button-secondary: #393939;
  --button-secondary-hover: #4c4c4c;
  --button-secondary-active: #6f6f6f;
  --button-secondary-text: #ffffff;
  --button-tertiary: var(--primary-60);
  --button-tertiary-hover: var(--primary-70);
  --button-tertiary-active: var(--primary-80);
  --button-danger-primary: #da1e28;
  --button-danger-secondary: #da1e28;
  --button-danger-hover: #ba1b23;
  --button-danger-active: #750e13;
  --button-separator: #e0e0e0;
  --button-disabled: #c6c6c6;

  --notification-background-error: #fff1f1;
  --notification-background-success: #defbe6;
  --notification-background-info: #edf5ff;
  --notification-background-warning: #fcf4d6;
  --notification-action-hover: #ffffff;
  --notification-action-tertiary-inverse: #ffffff;
  --notification-action-tertiary-inverse-active: #ffffff;
  --notification-action-tertiary-inverse-hover: #c6c6c6;
  --notification-action-tertiary-inverse-text: #161616;
  --notification-action-tertiary-inverse-text-on-color-disabled: #ffffff;

  --support-error: #da1e28;
  --support-success: #24a148;
  --support-warning: #f1c21b;
  --support-info: #0043ce;
  --support-error-inverse: #ff787f;
  --support-success-inverse: #42be65;
  --support-warning-inverse: #f1c21b;
  --support-info-inverse: #6da2ff;

  --focus: var(--primary-60);
  --focus-inset: #ffffff;
  --focus-inverse: #ffffff;

  --interactive: var(--primary-60);
  --highlight: var(--primary-20);
  --toggle-off: #8d8d8d;
  --overlay: #1616160a;
  --skeleton-element: #c6c6c6;
  --skeleton-background: #e5e5e5;

  --label-background-gray: #e0e0e0;
  --label-color-gray: #161616;
  --label-background-hover-gray: #d1d1d1;
  --label-border-gray: #a8a8a8;
  --label-background-cool-gray: #dde1e6;
  --label-color-cool-gray: #121619;
  --label-background-hover-cool-gray: #cdd3da;
  --label-border-cool-gray: #a2a9b0;
  --label-background-warm-gray: #e5e0df;
  --label-color-warm-gray: #171414;
  --label-background-hover-warm-gray: #d8d0cf;
  --label-border-warm-gray: #ada8a8;
  --label-background-red: #ffd7d9;
  --label-color-red: #a2191f;
  --label-background-hover-red: #ffc2c5;
  --label-border-red: #ff8389;
  --label-background-magenta: #ffd6e8;
  --label-color-magenta: #9f1853;
  --label-background-hover-magenta: #ffbdda;
  --label-border-magenta: #ff7eb6;
  --label-background-purple: #e8daff;
  --label-color-purple: #6929c4;
  --label-background-hover-purple: #dcc7ff;
  --label-border-purple: #be95ff;
  --label-background-blue: #d0e2ff;
  --label-color-blue: #0043ce;
  --label-background-hover-blue: #b8d3ff;
  --label-border-blue: #78a9ff;
  --label-background-cyan: #bae6ff;
  --label-color-cyan: #00539a;
  --label-background-hover-cyan: #99daff;
  --label-border-cyan: #33b1ff;
  --label-background-teal: #9ef0e5;
  --label-color-teal: #005c59;
  --label-background-hover-teal: #57e6d3;
  --label-border-teal: #08bda5;
  --label-background-green: #a7f0ba;
  --label-color-green: #0e6027;
  --label-background-hover-green: #74e792;
  --label-border-green: #42be65;
  --label-background-brand: var(--primary-20);
  --label-color-brand: var(--primary-60);
  --label-background-hover-brand: var(--primary-30);
  --label-border-brand: var(--primary-40);
  --label-background-primary: var(--primary-60);
  --label-color-primary: var(--text-on-color);
  --label-background-hover-primary: var(--primary-70);
  --label-border-primary: var(--primary-80);

  --duration-productive: 150ms;
  --duration-expressive: 300ms;

  --easing-standard-productive: cubic-bezier(0.2, 0, 0.38, 0.9);
  --easing-standard-expressive: cubic-bezier(0.4, 0.14, 0.3, 1);

  --transition-all-productive: all var(--duration-productive) var(--easing-standard-productive);
  --transition-all-expressive: all var(--duration-expressive) var(--easing-standard-expressive);

  --spacing-01: 2px;
  --spacing-02: 4px;
  --spacing-03: 8px;
  --spacing-04: 12px;
  --spacing-05: 16px;
  --spacing-06: 24px;
  --spacing-07: 32px;
  --spacing-08: 40px;
  --spacing-09: 48px;
  --spacing-10: 64px;
  --spacing-11: 80px;
  --spacing-12: 96px;
  --spacing-13: 160px;

  --typography-utility-productive: 12px;
  --typography-utility-expressive: 14px;
  --typography-body-productive: 13px;
  --typography-body-expressive: 15px;

  --code-01-font-size: 12px;
  --code-01-line-height: 16px;
  --code-01-font-weight: 400;
  --code-01-letter-spacing: 0.32px;

  --code-02-font-size: 14px;
  --code-02-line-height: 20px;
  --code-02-font-weight: 400;
  --code-02-letter-spacing: 0.32px;

  --label-01-font-size: 12px;
  --label-01-line-height: 16px;
  --label-01-font-weight: 400;
  --label-01-letter-spacing: 0.32px;

  --label-02-font-size: 14px;
  --label-02-line-height: 18px;
  --label-02-font-weight: 400;
  --label-02-letter-spacing: 0.16px;

  --helper-text-01-font-size: 12px;
  --helper-text-01-line-height: 16px;
  --helper-text-01-font-weight: 400;
  --helper-text-01-letter-spacing: 0.32px;

  --helper-text-02-font-size: 14px;
  --helper-text-02-line-height: 18px;
  --helper-text-02-font-weight: 400;
  --helper-text-02-letter-spacing: 0.16px;

  --legal-01-font-size: 12px;
  --legal-01-line-height: 16px;
  --legal-01-font-weight: 400;
  --legal-01-letter-spacing: 0.32px;

  --legal-02-font-size: 14px;
  --legal-02-line-height: 18px;
  --legal-02-font-weight: 400;
  --legal-02-letter-spacing: 0.16px;

  --body-compact-01-font-size: 14px;
  --body-compact-01-line-height: 18px;
  --body-compact-01-font-weight: 400;
  --body-compact-01-letter-spacing: 0.16px;

  --body-compact-02-font-size: 16px;
  --body-compact-02-line-height: 22px;
  --body-compact-02-font-weight: 400;
  --body-compact-02-letter-spacing: 0px;

  --body-01-font-size: 14px;
  --body-01-line-height: 20px;
  --body-01-font-weight: 400;
  --body-01-letter-spacing: 0.16px;

  --body-02-font-size: 16px;
  --body-02-line-height: 24px;
  --body-02-font-weight: 400;
  --body-02-letter-spacing: 0px;

  --heading-compact-01-font-size: 14px;
  --heading-compact-01-line-height: 18px;
  --heading-compact-01-font-weight: 600;
  --heading-compact-01-letter-spacing: 0.16px;

  --heading-compact-02-font-size: 16px;
  --heading-compact-02-line-height: 22px;
  --heading-compact-02-font-weight: 600;
  --heading-compact-02-letter-spacing: 0px;

  --heading-01-font-size: 14px;
  --heading-01-line-height: 20px;
  --heading-01-font-weight: 600;
  --heading-01-letter-spacing: 0.16px;

  --heading-02-font-size: 16px;
  --heading-02-line-height: 24px;
  --heading-02-font-weight: 600;
  --heading-02-letter-spacing: 0px;

  --heading-03-font-size: 20px;
  --heading-03-line-height: 28px;
  --heading-03-font-weight: 400;
  --heading-03-letter-spacing: 0px;

  --heading-04-font-size: 28px;
  --heading-04-line-height: 36px;
  --heading-04-font-weight: 400;
  --heading-04-letter-spacing: 0px;

  --heading-05-font-size: 32px;
  --heading-05-line-height: 40px;
  --heading-05-font-weight: 400;
  --heading-05-letter-spacing: 0px;

  --heading-06-font-size: 42px;
  --heading-06-line-height: 50px;
  --heading-06-font-weight: 300;
  --heading-06-letter-spacing: 0px;

  --heading-07-font-size: 54px;
  --heading-07-line-height: 64px;
  --heading-07-font-weight: 300;
  --heading-07-letter-spacing: 0px;

  --fluid-heading-03-font-size: 20px;
  --fluid-heading-03-line-height: 28px;
  --fluid-heading-03-font-weight: 400;
  --fluid-heading-03-letter-spacing: 0px;

  --fluid-heading-04-font-size: 28px;
  --fluid-heading-04-line-height: 36px;
  --fluid-heading-04-font-weight: 400;
  --fluid-heading-04-letter-spacing: 0px;

  --fluid-heading-05-font-size: 32px;
  --fluid-heading-05-line-height: 40px;
  --fluid-heading-05-font-weight: 400;
  --fluid-heading-05-letter-spacing: 0px;

  --fluid-heading-06-font-size: 32px;
  --fluid-heading-06-line-height: 40px;
  --fluid-heading-06-font-weight: 600;
  --fluid-heading-06-letter-spacing: 0px;

  --fluid-paragraph-01-font-size: 24px;
  --fluid-paragraph-01-line-height: 30px;
  --fluid-paragraph-01-font-weight: 300;
  --fluid-paragraph-01-letter-spacing: 0px;

  --fluid-quotation-01-font-size: 20px;
  --fluid-quotation-01-line-height: 26px;
  --fluid-quotation-01-font-weight: 400;
  --fluid-quotation-01-letter-spacing: 0px;

  --fluid-quotation-02-font-size: 32px;
  --fluid-quotation-02-line-height: 40px;
  --fluid-quotation-02-font-weight: 300;
  --fluid-quotation-02-letter-spacing: 0px;

  --fluid-display-01-font-size: 42px;
  --fluid-display-01-line-height: 50px;
  --fluid-display-01-font-weight: 300;
  --fluid-display-01-letter-spacing: 0px;

  --fluid-display-02-font-size: 42px;
  --fluid-display-02-line-height: 50px;
  --fluid-display-02-font-weight: 600;
  --fluid-display-02-letter-spacing: 0px;

  --fluid-display-03-font-size: 42px;
  --fluid-display-03-line-height: 50px;
  --fluid-display-03-font-weight: 300;
  --fluid-display-03-letter-spacing: 0px;

  --fluid-display-04-font-size: 42px;
  --fluid-display-04-line-height: 50px;
  --fluid-display-04-font-weight: 300;
  --fluid-display-04-letter-spacing: 0px;

  --border-no-color: transparent;
  --border-no-width: 1px solid var(--border-no-color);
  --border-bottom: 0 0 clamp(0px, calc(1px - var(--border-radius)), 1px) 0;
  --border-radius-sm: min(max(var(--border-radius), 0px), 6px);
  --border-radius-md: min(max(calc(1.8 * var(--border-radius)), 0px), 14px);
  --border-radius-lg: min(max(calc(2.6 * var(--border-radius)), 0px), 21px);
  --layer-hover-translucent: var(--layer-translucent);
  --outline-style: solid;

  --layout-size-height-xs: 24px;
  --layout-size-height-sm: 32px;
  --layout-size-height-md: 40px;
  --layout-size-height-lg: 48px;
  --layout-size-height-xl: 64px;
  --layout-size-height-2xl: 80px;
  --layout-size-height-min: 0px;
  --layout-size-height-max: 999999999px;
  --layout-density-padding-inline-condensed: 8px;
  --layout-density-padding-inline-normal: 16px;
  --layout-density-padding-inline-min: 0px;
  --layout-density-padding-inline-max: 999999999px;
}

// Media Queries for Fluid Typography

// MD - 672px
@mixin fluid-md {
  --fluid-heading-05-font-size: 36px;
  --fluid-heading-05-line-height: 44px;
  --fluid-heading-05-font-weight: 300;

  --fluid-heading-06-font-size: 36px;
  --fluid-heading-06-line-height: 44px;

  --fluid-quotation-02-font-size: 36px;
  --fluid-quotation-02-line-height: 44px;

  --fluid-display-03-font-size: 54px;
  --fluid-display-03-line-height: 64px;

  --fluid-display-04-font-size: 68px;
  --fluid-display-04-line-height: 78px;
}

@media (min-width: 672px) {
  :root {
    @include fluid-md;
  }
}

// LG - 1056px
@mixin fluid-lg {
  --fluid-heading-05-font-size: 42px;
  --fluid-heading-05-line-height: 50px;

  --fluid-heading-06-font-size: 42px;
  --fluid-heading-06-line-height: 50px;

  --fluid-paragraph-01-font-size: 28px;
  --fluid-paragraph-01-line-height: 36px;

  --fluid-quotation-01-font-size: 24px;
  --fluid-quotation-01-line-height: 30px;

  --fluid-quotation-02-font-size: 42px;
  --fluid-quotation-02-line-height: 50px;

  --fluid-display-01-font-size: 54px;
  --fluid-display-01-line-height: 64px;

  --fluid-display-02-font-size: 54px;
  --fluid-display-02-line-height: 64px;

  --fluid-display-03-font-size: 60px;
  --fluid-display-03-line-height: 70px;
  --fluid-display-03-letter-spacing: -0.64px;

  --fluid-display-04-font-size: 92px;
  --fluid-display-04-line-height: 102px;
  --fluid-display-04-letter-spacing: -0.64px;
}

@media (min-width: 1056px) {
  :root {
    @include fluid-lg;
  }
}

// XLG - 1312px
@mixin fluid-xlg {
  --fluid-heading-04-font-size: 32px;
  --fluid-heading-04-line-height: 40px;

  --fluid-heading-05-font-size: 48px;
  --fluid-heading-05-line-height: 56px;

  --fluid-heading-06-font-size: 48px;
  --fluid-heading-06-line-height: 56px;

  --fluid-paragraph-01-font-size: 28px;
  --fluid-paragraph-01-line-height: 36px;

  --fluid-quotation-01-font-size: 28px;
  --fluid-quotation-01-line-height: 36px;

  --fluid-quotation-02-font-size: 48px;
  --fluid-quotation-02-line-height: 56px;

  --fluid-display-01-font-size: 60px;
  --fluid-display-01-line-height: 70px;

  --fluid-display-02-font-size: 60px;
  --fluid-display-02-line-height: 70px;

  --fluid-display-03-font-size: 76px;
  --fluid-display-03-line-height: 86px;
  --fluid-display-03-letter-spacing: -0.64px;

  --fluid-display-04-font-size: 122px;
  --fluid-display-04-line-height: 130px;
  --fluid-display-04-letter-spacing: -0.64px;
}

@media (min-width: 1312px) {
  :root {
    @include fluid-xlg;
  }
}

// MAX - 1584px
@mixin fluid-max {
  --fluid-heading-03-font-size: 24px;

  --fluid-heading-04-font-size: 32px;
  --fluid-heading-04-line-height: 40px;

  --fluid-heading-05-font-size: 60px;
  --fluid-heading-05-line-height: 70px;

  --fluid-heading-06-font-size: 60px;
  --fluid-heading-06-line-height: 70px;

  --fluid-paragraph-01-font-size: 32px;
  --fluid-paragraph-01-line-height: 40px;

  --fluid-quotation-01-font-size: 32px;
  --fluid-quotation-01-line-height: 40px;

  --fluid-quotation-02-font-size: 60px;
  --fluid-quotation-02-line-height: 70px;

  --fluid-display-01-font-size: 76px;
  --fluid-display-01-line-height: 86px;

  --fluid-display-02-font-size: 76px;
  --fluid-display-02-line-height: 86px;

  --fluid-display-03-font-size: 84px;
  --fluid-display-03-line-height: 94px;
  --fluid-display-03-letter-spacing: -0.96px;

  --fluid-display-04-font-size: 156px;
  --fluid-display-04-line-height: 164px;
  --fluid-display-04-letter-spacing: -0.96px;
}

@media (min-width: 1584px) {
  :root {
    @include fluid-max;
  }
}

:root,
.layer-one {
  --layer: var(--layer-01);
  --layer-active: var(--layer-active-01);
  --layer-hover: var(--layer-hover-01);
  --layer-selected: var(--layer-selected-01);
  --layer-selected-hover: var(--layer-selected-hover-01);
  --layer-accent: var(--layer-accent-01);
  --layer-accent-hover: var(--layer-accent-hover-01);
  --layer-accent-active: var(--layer-accent-active-01);
  --field: var(--field-01);
  --field-hover: var(--field-hover-01);
  --border-subtle: var(--border-subtle-01);
  --border-subtle-selected: var(--border-subtle-selected-01);
  --border-strong: var(--border-strong-01);
  --border-tile: var(--border-tile-01);
}

.layer-two {
  --layer: var(--layer-02);
  --layer-active: var(--layer-active-02);
  --layer-hover: var(--layer-hover-02);
  --layer-selected: var(--layer-selected-02);
  --layer-selected-hover: var(--layer-selected-hover-02);
  --layer-accent: var(--layer-accent-02);
  --layer-accent-hover: var(--layer-accent-hover-02);
  --layer-accent-active: var(--layer-accent-active-02);
  --field: var(--field-02);
  --field-hover: var(--field-hover-02);
  --border-subtle: var(--border-subtle-01);
  --border-subtle-selected: var(--border-subtle-selected-02);
  --border-strong: var(--border-strong-02);
  --border-tile: var(--border-tile-02);
}
