$font-family-sans-serif: 'IBM Plex Sans', system-ui, -apple-system, 'Segoe UI', sans-serif;
$primary: #0f62fe;
$secondary: #525252;
$success: #24a148;
$info: #3ddbd9;
$warning: #f1c21b;
$danger: #da1e28;
$light: #f4f4f4;
$dark: #161616;

@import '../../vendor/twbs/bootstrap/scss/bootstrap';
